{% extends 'base.html' %}
{% block content %}

<h1 style="text-align: center;margin-top:50px;margin-bottom:50px;">Login</h1>
{% if error %}
<h3 style="color:red; text-align: center;">{{msg}}</h3>
{% else %}
<h3 style="color: green; text-align: center;">{{msg}}</h3>
{% endif %}
<!--Login Form-->
<form action="loginuser" method="POST">
    {% csrf_token %}
    <!--Username-->
    <div class="form-group" style="width: 70%; margin:auto; margin-top:50px; margin-bottom:50px;">
        <label for="user">Username</label>
        <input type="text" class="form-control" id="user" name="user" aria-describedby="emailHelp"
            placeholder="Username" required>
    </div>

    <!--Password-->
    <div class="form-group" style="width: 70%; margin:auto; margin-top:50px; margin-bottom:50px;">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password" required>
    </div>

    <!--Login button-->
    <div style="text-align: center;margin-top:50px;margin-bottom:0px;">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>

<!--Redirect to register form-->
<form action="register_form">
    <div style="display: flex; justify-content:space-around;">
        <div>
            <p style="color: red;font-family: 'Ubuntu', sans-serif; text-align:center; display:inline;">Not yet
                registered?</p>
            <button type="submit" class="btn btn-danger"
                style="display: inline; margin:auto; margin-top:50px; margin-bottom:50px;">Register</button>
        </div>
    </div>
</form>

{% endblock %}